*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 110, 124);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height:18vmin;
    width:18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
    font-size: 8vmin;
    color: brown;
    background-color: antiquewhite;
}

#reset-btn,#new-btn {
    padding: 1rem;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(37, 36, 36);
    color: white;
}

#msg {
    color: white;
    font-size: 2.5rem;
}

.msg-container{
    height: 30vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.hide{
    display:none;
}

